* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:blue;
    color:pink;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
}

.logo {
    color: #38bdf8;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    background: #1e293b;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}

/* Projects */
.project-card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #020617;
    padding: 20px;
    text-align: center;
}
